.img-header {  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 20vh;
  padding-bottom: 2vh;
  margin-bottom: 4vh;
  background-color: #555555;
}


.textoCua {
  background-color: transparent;
  border-radius: 10px;
  height: 10Vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: BoldFont;
  font-size: 7vw;
}

body {
    background-color: #272727;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 55px;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: center;
  margin-bottom: 10vh;
  }
  
.grid-item {
color: white;
height: 270px;
}

@media (max-width: 1457px) {
  .grid {
      grid-template-columns: repeat(2, 370px);
  }
}

@media (max-width: 929px) {
  .grid {
      grid-template-columns: 370px;
  }
}

.gamediv {
  width: 100%;
  height: 85%;
  border-radius: 25px;
  background:url(/dev_mxttw_3.2/images/guts.jpg);
  transition: transform 0.4s ease-in-out;
  /* sombra */
  box-shadow: 10px 10px 10px 10px rgba(255,255,255,0.05);
  position: relative;
}

.descuento {
  border-radius: 10px 10px 0;
  width: 12%;
  height: 12%;
  background: #c50d0d;
  position: absolute;
bottom: 0;
left: 0;
text-align: center;
}

.descuento > p {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#CitiesSkylines{
  background:url(/dev_mxttw_3.2/images/gameImg/Cities_Skylines.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ELtrailer{
  display: none;
}

#EldenRing:hover {
  background: transparent;
}

#EldenRing:hover .ELtrailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  
}

.GoWtrailer{
  display: none;
}

#GodOfWar:hover {
  background: transparent;
}

#GodOfWar:hover .GoWtrailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.CStrailer{
  display: none;
}

#CitiesSkylines:hover {
  background: transparent;
}

#CitiesSkylines:hover .CStrailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.MCtrailer{
  display: none;
}

#Minecraft:hover {
  background: transparent;
}

#Minecraft:hover .MCtrailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.MW2trailer{
  display: none;
}

#MW2:hover {
  background: transparent;
}

#MW2:hover .MW2trailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.SPtrailer{
display: none;
width: 100%;
height: 100%;
  
}

#Spiderman:hover {
  background: transparent;
}

#Spiderman:hover .SPtrailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.HKtrailer{
  display: none;
}

#hollowknight:hover {
  background: transparent;
}

#hollowknight:hover .HKtrailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.WDtrailer{
  display: none;
}

#WatchDogs:hover {
  background: transparent;
}

#WatchDogs:hover .WDtrailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.TLoUtrailer{
  display: none;
}

#TheLastOfUs:hover {
  background: transparent;
}

#TheLastOfUs:hover .TLoUtrailer{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  z-index: 99;
}
  

#EldenRing{
  background:url(/dev_mxttw_3.2/images/gameImg/elden_ring.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#GodOfWar{
  background:url(/dev_mxttw_3.2/images/gameImg/god_of_war.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Minecraft{
  background:url(/dev_mxttw_3.2/images/gameImg/minecraft.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#MW2{
  background:url(/dev_mxttw_3.2/images/gameImg/mw2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Spiderman{
  background:url(/dev_mxttw_3.2/images/gameImg/spiderman.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#TheLastOfUs{
  background:url(/dev_mxttw_3.2/images/gameImg/The_Last_of_Us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#WatchDogs{
  background:url(/dev_mxttw_3.2/images/gameImg/Watch_Dogs_Legion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hollowknight{
  background:url(/dev_mxttw_3.2/images/gameImg/hollowknightgame.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.gamediv:hover {
  transform: scale(1.05);
}
  
.title{
  padding-right: 70%;
}

.textNEW{
  display: flex;
  margin-top: 10px;
  font-family: NormalFont;
  font-weight: bold;
}

.titleNEW{
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.priceNEW{
  margin-right: 10px;
  margin-left: auto;
  font-size: 25px;
}
